{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- Block Content -->
<div class="container">
    <div class="my-5 p-3 bg-light border-lightblack rounded mx-auto">
        <header>
            <h1 class="text-center fw-bold">{% trans "Change Password" %}</h1>
        </header>
        <section class="w-75 px-auto mx-auto text-center">
            <form method="POST" action="{{ request.path }}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="action"
                    class="primaryAction btn btn-outline-dark btn-block btn-lg my-2 mx-md-3">
                    {% trans "Change Password" %}
                </button>
                <a href="{% url 'profile' %}" class="primaryAction btn btn-outline-dark btn-block btn-lg my-2 mx-md-3">
                    Return to Profile
                </a>
            </form>
        </section>
    </div>
</div>
{% endblock %}