{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% load crispy_forms_tags %}
<!--Header-->
<h1 class="text-center">{{ theme.title }}</h1>
<!--theme details-->
<div class="container-fluid">
    <div class="card mb-3 w-md-75 p-md-5 mx-auto border-lightblack bg-light">
        <div class="row g-0">
            <div class="col-md-6">
                {% if "featureimg" in theme.feature_image.url %}
                <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638821572/tisbV2F_xbcvxz.jpg" alt="{{ theme.title }}" class="img-fluid rounded-start">
                {% else %}
                <img src="{{ theme.feature_image.url }}" alt="{{ theme.title }}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card-body ms-md-4 noselect">
                    <p class="card-text">
                        <span>Author:</span>
                        <span>{{ theme.author.userprofile.name }}</span>
                    </p>
                    <p class="card-text">
                        <span>Category:</span>
                        <span>{{ theme.category.name }}</span>
                    </p>
                    <p class="card-text">
                        <span>Created on:</span>
                        <span>{{ theme.created_on }}</span>
                    </p>
                    <p class="card-text">
                        <span>Last updated:</span>
                        <span>{{ theme.updated_on }}</span>
                    </p>
                    <div class="card-text row gap-md-1">
                        <div class="col col-md-3 d-flex justify-content-center align-items-center">
                            <span id="upvote-btn">
                                {% if user.is_authenticated %}
                                <form action="{% url 'theme_upvote' theme.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" id="{{ theme.id }}-upvote" class="votebtn btn p-2">
                                        {% if theme_upvote %}
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                        {% else %}
                                        <i class="far fa-arrow-alt-circle-up"></i>
                                        {% endif %}
                                    </button>
                                </form>
                                {% else %}
                                <i class="fas fa-arrow-alt-circle-up"></i>
                                {% endif %}
                            </span>
                            <span id="count-upvote">{{ theme.upvote.count }}</span>
                        </div>
                        <div class="col col-md-3 d-flex justify-content-center align-items-center">
                            <span id="downvote-btn">
                                {% if user.is_authenticated %}
                                <form action="{% url 'theme_downvote' theme.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" id="{{ theme.id }}-downvote" class="votebtn btn p-2">
                                        {% if theme_downvote %}
                                        <i class="fas fa-arrow-alt-circle-down"></i>
                                        {% else %}
                                        <i class="far fa-arrow-alt-circle-down"></i>
                                        {% endif %}
                                    </button>
                                </form>
                                {% else %}
                                <i class="fas fa-arrow-alt-circle-up"></i>
                                {% endif %}
                            </span>
                            <span id="count-downvote">{{ theme.downvote.count }}</span>
                        </div>
                        <div class="col col-md-3 d-flex justify-content-center align-items-center">
                            <i class="far fa-comment p-2"></i> {{ comments.count }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Excerpt section-->
    {% if theme.category.name == 'Fiction' %}
    <section class="row mx-auto w-md-75 p-5 mb-3 text-center bg-light rounded border-brown">
        <div class="col-12">
            Excerpt
            <hr>
        </div>
        <div class="col-12">
            {% if theme.excerpt %}
            <p>{{ theme.excerpt }}</p>
            {% else %}
            <p>Author do not write any excerpt.</p>
            {% endif %}
        </div>
    </section>
    {% elif theme.category.name == 'Non-fiction' %}
    <section class="row mx-auto w-md-75 p-5 mb-3 text-center bg-light rounded border-lightblue">
        <div class="col-12">
            Excerpt
            <hr>
        </div>
        <div class="col-12">
            {% if theme.excerpt %}
            <p>{{ theme.excerpt }}</p>
            {% else %}
            <p>Author do not write any excerpt.</p>
            {% endif %}
        </div>
    </section>
    {% elif theme.category.name == 'Lifestyle'%}
    <section class="row mx-auto w-md-75 p-5 mb-3 text-center bg-light rounded border-purple">
        <div class="col-12">
            Excerpt
            <hr>
        </div>
        <div class="col-12">
            {% if theme.excerpt %}
            <p>{{ theme.excerpt }}</p>
            {% else %}
            <p>Author do not write any excerpt.</p>
            {% endif %}
        </div>
    </section>
    {% else %}
    <section class="row mx-auto w-md-75 p-5 mb-3 text-center bg-light rounded">
        <div class="col-12">
            Excerpt
            <hr>
        </div>
        <div class="col-12">
            {% if theme.excerpt %}
            <p>{{ theme.excerpt }}</p>
            {% else %}
            <p>Author do not write any excerpt.</p>
            {% endif %}
        </div>
    </section>
    {% endif %}
    <!--button to post list-->
    <!--if user is author also display edit theme and delete theme-->
    <div class="row mx-auto w-md-75 p-5 mb-3 bg-light rounded border-lightblack">
        <div class="col-md-12 mb-3">
            <a href="{% url 'contents' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Read</a>
        </div>
        {% if user.is_authenticated %}
        {% if request.user == theme.author %}
        <div class="col-md-6 mb-3">
            <!-- Add a new post -->
            <a href="{% url 'new_post' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Create post</a>
        </div>
        <div class="col-md-6 mb-3">
            <!-- Edit current theme -->
            <a href="{% url 'edit_theme' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Edit Info</a>
        </div>
        <div class="col-md-6 mb-3">
            <!-- Delete theme modal -->
            <button type="button" class="btn btn-outline-danger btn-block btn-lg w-100" data-bs-toggle="modal" data-bs-target="#confirm-delete-theme">
                Delete
            </button>
        </div>
        {% endif %}
        {% if request.user.userprofile.membership == 0 %}
        <div class="col-md-12 mb-3">
            <a href="{% url 'report' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Report</a>
        </div>
        {% else %}
        <div class="col-md-6 mb-3">
            <a href="{% url 'report' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Report</a>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <!--comment form-->
    {% if user.is_authenticated %}
    <div class="p-1 mb-3 bg-light rounded w-md-75 border-lightblack">
        <div class="row">
            <h3 class="text-center">Leave a comment:</h3>
            <p class="text-center">Posting as: {{ user.username }}</p>
        </div>
        <div class="row text-center px-md-5 mx-md-5">
            <form method="POST">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark btn-block btn-lg w-100">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<!--display all comment-->
<div class="container-fluid">
{% for comment in comments %}
<div class="card rounded w-md-75 border-lightblack">
    <div class="card-body">
        {% if not comment.user.userprofile.name %}
            <h4>
                {{ comment.user.username }}
            </h4>
        {% else %}
            <h4>
                {{ comment.user.userprofile.name }}
            </h4>
        {% endif %}
        <p class="text-muted" style="font-size:8px;">{{ comment.created_on }}</p>
        <hr>
        <p>{{ comment.comment_body | safe }}</p>
    </div>
    <div class="card-footer text-muted">
        <p class="text-end" style="font-size:8px;">
            Last updated on {{ comment.updated_on }}
        </p>
    </div>
</div>
{% empty %}
<p class="text-center">Here is no any comment yet.</p>
{% endfor %}
</div>
<!-- Modal -->
<div class="modal fade" id="confirm-delete-theme" tabindex="-1" aria-labelledby="confirm-delete-theme" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ThemeModalTitle">Confirm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you really want to remove {{ theme.title }}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_theme' theme.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Theme</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}