{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<!--Header-->
<h1 class="text-center">{{ theme.title }}</h1>
<h2 class="text-center">{{ theme.author.userprofile.name }}</h2>
<!--theme details-->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="{{ theme.feature_image }}" alt="{{ theme.title }}" class="img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>{{ theme.excerpt }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>{{ theme.category.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>{{ theme.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>{{ theme.updated_on }}</p>
        </div>
    </div>
    <div class="row gap-1 justify-content-center align-items-center">
        <div class="col-md-2">
            <p>upvote  {{ theme.upvote.count_upvote }}</p>
        </div>
        <div class="col-md-2">
            <p>downvote {{ theme.downvote.count_downvote}}</p>
        </div>
        <div class="col=md-2">
            <p>comments {{ comments.count }}</p>
        </div>
    </div>
<!--button to post list-->
<!--if user is author also display edit theme and delete theme-->
<div class="row gap-1 justify-content-center align-items-center">
    <div class="col-sm-5 col-md-5 p-1">
        <a href="#" class="btn btn-outline-dark btn-block btn-lg w-100">Enter to contents</a>
    </div>
    {% if user.is_authenticated %}
    {% if request.user == theme.author %}
    <div class="col-sm-5 col-md-5 p-1">
        <a href="{% url 'edit_theme' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Edit Theme info</a>
    </div>
    <div class="col-sm-5 col-md-5 p-1">
        <a href="{% url 'delete_theme' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Delete {{ theme.title }}</a>
    </div>
    {% endif %}
    {% endif %}
</div>
<!--comment form-->
{% if user.is_authenticated %}
{% endif %}
<!--display all comment-->
{% for comment in comments %}
<p>{{ comment.user.userprofile.name }}</p>
<p>{{ comment.comment_body }}</p>
<p>Comment on {{ comment.created_on }}</p>
<p>Last updated {{ comment.updated_on }}</p>
<p>upvote  {{ comment.upvote.count_upvote }}</p>
<p>downvote {{ comment.downvote.count_downvote}}</p>
{% empty %}
<p>Here is no comment yet.</p>
{% endfor %}
{% endblock %}