{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% load crispy_forms_tags %}
<!--Header-->
<h1 class="text-center">{{ theme.title }}</h1>
<h2 class="text-center">{{ theme.author.userprofile.name }}</h2>
<!--theme details-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-4 align-self-center">
            {% if "featureimg" in theme.feature_image.url %}
            <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638821572/tisbV2F_xbcvxz.jpg" alt="{{ theme.title }}" class="img-thumbnail">
            {% else %}
            <img src="{{ theme.feature_image.url }}" alt="{{ theme.title }}" class="img-thumbnail">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            Excerpt
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if theme.excerpt %}
            <p>{{ theme.excerpt }}</p>
            {% else %}
            <p>Author do not write any excerpt.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Category: {{ theme.category.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Created on: {{ theme.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Last updated: {{ theme.updated_on }}</p>
        </div>
    </div>
    <div class="row gap-1 justify-content-center align-items-center">
        <div class="col col-md-2 text-center">
            <span id="upvote-btn">
                {% if user.is_authenticated %}
                <form action="{% url 'theme_upvote' theme.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" id="{{ theme.id }}-upvote" class="votebtn">
                        {% if theme_upvote %}
                        <i class="fas fa-arrow-alt-circle-up"></i>
                        {% else %}
                        <i class="far fa-arrow-alt-circle-up"></i>
                        {% endif %}
                    </button>
                </form>
                {% else %}
                <i class="fas fa-arrow-alt-circle-up"></i>
                {% endif %}
            </span>
            <span id="count-upvote">{{ theme.upvote.count }}</span>
        </div>
        <div class="col col-md-2 text-center">
            <span id="downvote-btn">
                {% if user.is_authenticated %}
                <form action="{% url 'theme_downvote' theme.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" id="{{ theme.id }}-downvote" class="votebtn">
                        {% if theme_downvote %}
                        <i class="fas fa-arrow-alt-circle-down"></i>
                        {% else %}
                        <i class="far fa-arrow-alt-circle-down"></i>
                        {% endif %}
                    </button>
                </form>
                {% else %}
                <i class="fas fa-arrow-alt-circle-up"></i>
                {% endif %}
            </span>
            <span id="count-downvote">{{ theme.downvote.count }}</span>
        </div>
        <div class="col col-md-2 text-center">
            <p><i class="far fa-comment"></i> {{ comments.count }}</p>
        </div>
    </div>
    <!--button to post list-->
    <!--if user is author also display edit theme and delete theme-->
    <div class="row gap-1 justify-content-center align-items-center">
        <div class="col-sm-3 col-md-3 p-1">
            <a href="{% url 'contents' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Read</a>
        </div>
        {% if user.is_authenticated %}
        {% if request.user == theme.author %}
        <div class="col-sm-3 col-md-3 p-1">
            <!-- Edit current theme -->
            <a href="{% url 'edit_theme' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Edit Info</a>
        </div>
        <div class="col-sm-3 col-md-3 p-1">
            <!-- Delete theme modal -->
            <button type="button" class="btn btn-outline-danger btn-block btn-lg w-100" data-bs-toggle="modal" data-bs-target="#confirm-delete-theme">
                Delete
            </button>
        </div>
        <div class="col-sm-3 col-md-3 p-1">
            <!-- Add a new post -->
            <a href="{% url 'new_post' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Create post</a>
        </div>
        {% endif %}
        <div class="col-sm-3 col-md-3 p-1">
            <a href="{% url 'report' theme.slug %}" class="btn btn-outline-dark btn-block btn-lg w-100">Report</a>
        </div>
        {% endif %}
    </div>
</div>
<!--comment form-->
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <h3 class="text-center">Leave a comment:</h3>
        <p class="text-center">Posting as: {{ user.username }}</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <form method="POST">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Submit</button>
        </form>
    </div>
</div>
{% endif %}
<!--display all comment-->
<div class="container-fluid">
{% for comment in comments %}
<div class="card">
    <div class="card-header">
        {% if not comment.user.userprofile.name %}
            <h4>{{ comment.user.username }}</h4>
        {% else %}
            <h4>{{ comment.user.userprofile.name }}</h4>
        {% endif %}
    </div>
    <div class="card-body">
        <p>{{ comment.comment_body | safe }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>
            Comment on {{ comment.created_on }}
            Last updated {{ comment.updated_on }}
        </p>
    </div>
</div>
{% empty %}
<p class="text-center">Here is no any comment yet.</p>
{% endfor %}
</div>
<!-- Modal -->
<div class="modal fade" id="confirm-delete-theme" tabindex="-1" aria-labelledby="confirm-delete-theme" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ThemeModalTitle">Confirm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you really want to remove {{ theme.title }}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_theme' theme.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Theme</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}