{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Header-->
<h1 class="text-center fw-bolder my-2">{{ category.name }}</h1>
<p class="text-center fs-4">{{ category.introduction }}</p>
<!--Full theme list-->
{% if category.name == 'Fiction' %}
<div id="category-list" class="mx-auto w-75 p-3 bg-light border-brown rounded">
{% elif category.name == 'Non-fiction' %}
<div id="category-list" class="mx-auto w-75 p-3 bg-light border-lightblue rounded">
{% elif category.name == 'Lifestyle'%}
<div id="category-list" class="mx-auto w-75 p-3 bg-light border-purple rounded">
{% else %}
<div id="category-list" class="mx-auto w-75 p-3 bg-light border-lightblack rounded">
{% endif %}
    {% for theme in theme_page %}
    <div class="card d-block w-75 my-4 noselect hvr-grow-shadow mx-auto">
        {% if theme.category.name == 'Fiction' %}
        <div class="card-header text-light bg-brown">
        {% elif theme.category.name == 'Non-fiction' %}
        <div class="card-header text-light bg-lightblue">
        {% elif theme.category.name == 'Lifestyle'%}
        <div class="card-header text-light bg-purple">
        {% else %}
        <div class="card-header text-light bg-lightblack">
        {% endif %}
            {{ theme.category.name }}
        </div>
        <div class="card-body text-center">
            <a href="{% url 'theme_overview' theme.slug %}" class="text-dark">
                <h5 class="card-title">{{ theme.title }}</h5>
                <p class="card-text">{{ theme.excerpt}}...</p>
            </a>
        </div>
        <div class="card-footer">
            <span class="mx-2"><i class="far fa-arrow-alt-circle-up"></i> {{ theme.upvote.count }}</span>
            <span class="mx-2"><i class="far fa-arrow-alt-circle-down"></i> {{ theme.downvote.count }}</span>
            <span class="mx-2"><i class="far fa-comment"></i> {{ theme.theme_comments.count }}</span>
            <span class="mx-2 float-end">
                Last updated {{ theme.updated_on }}
            </span>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Here is no any theme yet.</p>
    {% endfor %}
<!--previous/next button provide by paginator-->
<p class="current text-center my-3">
    Page {{ theme_page.number }} of {{ theme_page.paginator.num_pages }}.
</p>
<nav class="pagination">
    <p class="step-links mx-auto">
        {% if theme_page.has_previous %}
        <a href="?page=1" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-backward"></i></a>
        <a href="?page={{ theme_page.previous_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-left"></i></a>
        {% endif %}
        {% if theme_page.has_next %}
        <a href="?page={{ theme_page.next_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-right"></i></a>
        <a href="?page={{ theme_page.paginator.num_pages }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-forward"></i></a>
        {% endif %}
    </p>
</nav>
{% endblock %}