{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Header-->
<header>
    <h1 class="text-center fw-bold mt-5">{{ category.name }}</h1>
    <h2 class="text-center fs-4">{{ category.introduction }}</h2>
</header>
<!--Full theme list-->
{% if category.name == 'Fiction' %}
<section id="category-list" class="mx-auto w-75 p-3 bg-light border-fiction rounded">
{% elif category.name == 'Non-fiction' %}
<section id="category-list" class="mx-auto w-75 p-3 bg-light border-nonfiction rounded">
{% elif category.name == 'Lifestyle'%}
<section id="category-list" class="mx-auto w-75 p-3 bg-light border-lifestyle rounded">
{% else %}
<section id="category-list" class="mx-auto w-75 p-3 bg-light border-lightblack rounded">
{% endif %}
    {% for theme in theme_page %}
    <div class="card d-block my-4 noselect hvr-grow-shadow mx-auto">
        {% if theme.category.name == 'Fiction' %}
        <div class="card-header text-light bg-fiction">
        {% elif theme.category.name == 'Non-fiction' %}
        <div class="card-header text-light bg-nonfiction">
        {% elif theme.category.name == 'Lifestyle'%}
        <div class="card-header text-light bg-lifestyle">
        {% else %}
        <div class="card-header text-light bg-lightblack">
        {% endif %}
            {{ theme.category.name }}
        </div>
        <div class="card-body text-center">
            <a href="{% url 'theme_overview' theme.slug %}" class="text-dark">
                <h2 class="card-title">{{ theme.title }}</h2>
                <p class="card-text">{{ theme.excerpt}}...</p>
            </a>
        </div>
        <div class="card-footer mx-0">
            <div class="row justify-content-center justify-content-md-start">
                <span class="mx-2 col-1"><i class="far fa-arrow-alt-circle-up"></i> {{ theme.upvote.count }}</span>
                <span class="mx-2 col-1"><i class="far fa-arrow-alt-circle-down"></i> {{ theme.downvote.count }}</span>
                <span class="mx-2 col-1"><i class="far fa-comment"></i> {{ theme.theme_comments.count }}</span>
            </div>
            <div class="row justify-content-center justify-content-md-end">
                <span class="text-end text-muted col-md-4">
                    Last updated {{ theme.updated_on | date:"j M Y f A" }}
                </span>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Here is no any theme yet.</p>
    {% endfor %}
</section>
<!--previous/next button provide by paginator-->
<p class="current text-center my-3">
    Page {{ theme_page.number }} of {{ theme_page.paginator.num_pages }}.
</p>
<nav class="pagination">
    <p class="step-links mx-auto">
        {% if theme_page.has_previous %}
        <a href="?page=1" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-backward"></i></a>
        <a href="?page={{ theme_page.previous_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-left"></i></a>
        {% endif %}
        {% if theme_page.has_next %}
        <a href="?page={{ theme_page.next_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-right"></i></a>
        <a href="?page={{ theme_page.paginator.num_pages }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-forward"></i></a>
        {% endif %}
    </p>
</nav>
{% endblock %}