{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<!--Header-->
<h1>TALES</h1>
<!--Welome message if user login successfully-->
{% if user.is_authenticated %}
<h2>Welcome, {{ request.user.username }}</h2>
{% endif %}
<!--Show most popular theme-->
<div class="row">
    <!--Carousel-->
    <div id="indexCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for theme in top_theme %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
                <a href="{% url 'theme_overview' theme.slug %}">
                {% if "featureimg" in theme.feature_image.url %}
                <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638821572/tisbV2F_xbcvxz.jpg" class="d-block w-100" alt="popular-theme">
                {% else %}
                <img src="{{ theme.feature_image.url }}" alt="{{ theme.title }}" class="d-block w-100" alt="popular-theme">
                {% endif %}
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ theme.title }}</h5>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <a href="{% url 'theme_overview' theme.slug %}">
                {% if "featureimg" in theme.feature_image.url %}
                <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638821572/tisbV2F_xbcvxz.jpg" class="d-block w-100" alt="popular-theme">
                {% else %}
                <img src="{{ theme.feature_image.url }}" alt="{{ theme.title }}" class="d-block w-100" alt="popular-theme">
                {% endif %}
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ theme.title }}</h5>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#indexCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#indexCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--Full theme list-->
{% for theme in theme_page %}
<a href="{% url 'theme_overview' theme.slug %}">
    {{ theme.title }} {{ theme.category.name }}
</a>
<p>{{ theme.excerpt}}</p>
<p>Created on {{ theme.created_on }} Last updated {{ theme.updated_on }}</p>
<p>upvote {{ theme.upvote.count }} downvote {{ theme.downvote.count }} comment {{ theme.theme_comments.count }}</p>
{% empty %}
<p class="text-center">Here is no any theme yet.</p>
{% endfor %}
<!--previous/next button provide by paginator-->
{% if is_paginated %}
<nav class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</nav>
{% endif %}
{% endblock %}