{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<!--Header-->
<h1>TALES</h1>
<!--Welome message if user login successfully-->
{% if user.is_authenticated %}
<h2>Welcome, {{ request.user.username }}</h2>
{% endif %}
<!--Show most popular theme-->
<div class="row">
    <a href="{% url 'theme_overview' top_theme.slug %}">
        {% if "featureimg" in top_theme.feature_image.url %}
            <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638821572/tisbV2F_xbcvxz.jpg" class="d-block w-100" alt="popular-theme">
        {% else %}
            <img src="{{ top_theme.feature_image.url }}" alt="{{ top_theme.title }}" class="d-block w-100" alt="popular-theme">
        {% endif %}
        <h3>Most Popular</h3>
        <h4>{{ top_theme.title }}</h4>
    </a>
</div>
<!--Full theme list-->
{% for theme in theme_page %}
<a href="{% url 'theme_overview' theme.slug %}">
    {{ theme.title }} {{ theme.category.name }}
</a>
<p>{{ theme.excerpt}}</p>
<p>Created on {{ theme.created_on }} Last updated {{ theme.updated_on }}</p>
<p>upvote {{ theme.upvote.count }} downvote {{ theme.downvote.count }} comment {{ theme.theme_comments.count }}</p>
{% empty %}
<p class="text-center">Here is no any theme yet.</p>
{% endfor %}
<!--previous/next button provide by paginator-->
{% if is_paginated %}
<nav class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</nav>
{% endif %}
{% endblock %}