{% extends "base.html" %}
{% load static %}
{% block content %}
{% ifequal user.username "admin" %}
<div class="container-fluid position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>SORRY, ADMIN IS NOT ALLOWED TO USE THIS FUNCTION</h1>
        </div>
    </div>
    <div class="row  justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'profile' request.user %}" class="btn btn-outline-dark btn-block btn-lg w-100">Return</a>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid  position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>DELETE YOUR ACCOUNT</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <p>We are regret for your desicion to leave us, {{ user.userprofile.name }}</p><br/>
            <p>But we still hope to remind you to confirm that once you delete your account</p>
            <p>You will not allow to login as same account anymore</p>
            <p>All your informaion and record will be completely remove</p><br/>
            <p>If you still want to remove your account, then press the 'DELETE' button</p>
            <p>Or you can press 'RETURN' button to return to your profile</p>
        </div>
    </div>
    <div class="row gap-1 justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'profile' request.user %}" class="btn btn-outline-dark btn-block btn-lg w-100">Back to Profile</a>
        </div>
        <div class="col-sm-5 col-md-5 p-1">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger btn-block btn-lg w-100" data-bs-toggle="modal" data-bs-target="#confirmdelete">
                Delete Account
            </button>
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="confirmdelete" tabindex="-1" aria-labelledby="confirmdelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalTitle">Final Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you really want to remove your account?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{% url 'delete_action' request.user %}">Delete Account</a>
        </div>
      </div>
    </div>
  </div>
{% endifequal %}
{% endblock %}