{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Block content-->
{% if user.username == "admin" or request.user.userprofile.membership == 2 %}
<!--if user is admin display the waring message and return link-->
<div class="container my-5 mx-auto px-auto rounded">
    <div class="row p-5 bg-light">
        <div class="col-md-8 offset-md-2 text-center">
            <p class="fs-5">SORRY, ADMIN IS NOT ALLOWED TO USE THIS FUNCTION</p>
        </div>
    </div>
    <div class="row mt-5 mx-auto">
        <div class="col-md-6 mx-auto">
            <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-block btn-lg w-100">Return</a>
        </div>
    </div>
</div>
{% else %}
<!--Else show the confirm components-->
<div class="container mx-auto px-auto">
    <header>
        <h1 class="text-center fw-bold mt-5">DELETE YOUR ACCOUNT</h1>
    </header>
    <div class="row mx-auto mb-3 p-5 bg-light border-lightblack rounded">
        <div class="col-md-8 mx-auto text-center">
            <p>We are regret for your desicion to leave us, {{ user.userprofile.name }}.</p><br/>
            <p>But we still hope to remind you, once you delete your account,</p>
            <p>you will not allow to login as same account anymore.</p>
            <p>All your informaion and record will be completely remove.</p>
            <p>If you still want to remove your account,</p>
            <p>then press the 'DELETE' button.</p>
            <p>Or you can press 'RETURN' button to return to your profile</p>
        </div>
    </div>
    <div class="row gap-1 mx-auto">
        <!--Return button-->
        <div class="col-md-6 mx-auto mb-2">
            <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-block btn-lg w-100">Back to Profile</a>
        </div>
        <div class="col-md-6 mx-auto mb-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger btn-block btn-lg w-100" data-bs-toggle="modal" data-bs-target="#confirmdelete">
                Delete Account
            </button>
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="confirmdelete" tabindex="-1" aria-labelledby="confirmdelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalTitle">Final Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you really want to remove your account?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_action' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}