{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% ifequal user.userprofile.name None %}
<h1 class="text-center">Your Profile</h1>
{% else %}
<h1 class="text-center">{{ user.userprofile.name }}'s Profile</h1>
{% endifequal %}
<!--Component to display user's personal information-->
<div class="container-fluid">
    <div class="row" id="user_icon">
        <div class="col text-center">
            <img src="{{ user.userprofile.user_icon.url }}" alt="{{ user.userprofile.name }}" class="img-thumbnail">
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Username
        </div>
    </div>
    <div class="row" id="user_name">
        <div class="col text-center">
            {{ user.username }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Membership
        </div>
    </div>
    <div class="row" id="membership">
        <div class="col text-center">
            {{ user.userprofile.get_membership_display }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Registered Date
        </div>
    </div>
    <div class="row" id="registered_date">
        <div class="col text-center">
            {{ user.userprofile.registered_on }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Location
        </div>
    </div>
    <div class="row" id="location">
        <div class="col text-center">
            {{ user.userprofile.location }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Bio
        </div>
    </div>
    <div class="row" id="bio">
        {% ifequal user.usereprofile.bio "" %}
        <div class="col text-center">
            <p>Keep secret for now :)</p>
        </div>
            {% else %}
        <div class="col text-center">
            {{ user.userprofile.bio | safe }}
        </div>
            {% endifequal%}
    </div>
    <div class="row gap-1 justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'editprofile' request.user %}" class="btn btn-outline-dark btn-block btn-lg w-100">EDIT PROFILE</a>
        </div>
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'account_change_password' %}" class="btn btn-outline-dark btn-block btn-lg w-100">CHANGE PASSOWRD</a>
        </div>
        {% ifequal user.userprofile.get_membership_display "member" %}
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'promote_request' request.user %}" class="btn btn-outline-dark btn-block btn-lg w-100">BECOME OUR CREATOR</a>
        </div>
        {% endifequal %}
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'delete_account' request.user %}" class="btn btn-outline-danger btn-block btn-lg w-100">DELETE ACCOUNT</a>
        </div>
    </div>
</div>
{% endblock %}