{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% if not user.userprofile.name %}
<!--if name in user profile is none display default header-->
<h1 class="text-center">Your Profile</h1>
{% else %}
<!--else display header with user's name-->
<h1 class="text-center">{{ user.userprofile.name }}'s Profile</h1>
{% endif %}
<!--Display user's personal information-->
<div class="container-fluid">
    <div class="row" id="user_icon">
        <div class="col text-center">
            {% if "placeholder" in user.userprofile.user_icon.url %}
            <img src="https://res.cloudinary.com/cloki-store/image/upload/v1638377322/lx9f54ugcciywep0ifke.jpg" alt="{{ user.userprofile.name }}" class="img-thumbnail">
            {% else %}
            <img src="{{ user.userprofile.user_icon.url }}" alt="{{ user.userprofile.name }}" class="img-thumbnail">
            {% endif %}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Username
        </div>
    </div>
    <div class="row" id="user_name">
        <div class="col text-center">
            {{ user.username }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Display Name
        </div>
    </div>
    <div class="row" id="user_name">
        <div class="col text-center">
            {{ user.userprofile.name }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Membership
        </div>
    </div>
    <div class="row" id="membership">
        <div class="col text-center">
            {{ user.userprofile.get_membership_display }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Registered Date
        </div>
    </div>
    <div class="row" id="registered_date">
        <div class="col text-center">
            {{ user.userprofile.registered_on }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Location
        </div>
    </div>
    <div class="row" id="location">
        <div class="col text-center">
            {{ user.userprofile.location }}
        </div>
    </div>
    <div class="row profile-tables">
        <div class="col text-center">
            Bio
        </div>
    </div>
    <div class="row" id="bio">
        {% if user.userprofile.bio %}
        <div class="col text-center">
            {{ user.userprofile.bio | safe }}
        </div>
        {% else %}
        <div class="col text-center">
            <p>Keep secret for now :)</p>
        </div>
        {% endif %}
    </div>
    <!--Buttons-->
    <div class="row gap-1 justify-content-center align-items-center">
        <!--Edit probile-->
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'editprofile' %}" class="btn btn-outline-dark btn-block btn-lg w-100">EDIT PROFILE</a>
        </div>
        <!--Change password-->
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'account_change_password' %}" class="btn btn-outline-dark btn-block btn-lg w-100">CHANGE PASSOWRD</a>
        </div>
        <!--if user membership is member display a button to request form-->
        {% if user.userprofile.membership == 0 %}
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'promote_request' %}" class="btn btn-outline-dark btn-block btn-lg w-100">BECOME OUR CREATOR</a>
        </div>
        {% endif %}
        <!--Delete account-->
        <div class="col-sm-5 col-md-5 p-1">
            <a href="{% url 'delete_account' %}" class="btn btn-outline-danger btn-block btn-lg w-100">DELETE ACCOUNT</a>
        </div>
    </div>
</div>
{% endblock %}