@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Rubik:wght@300&display=swap');

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #e3e3e3!important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

main {
  min-height: 900px!important;
}

p {
  word-break: break-word;
  white-space: normal;
}

/* Nav bar */
.icon {
  font-size: 36px!important;
  float: none;
}

.icon-title {
  font-family: 'Pushster', cursive;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.nav-link {
  font-weight: 900;
}

/* colors */
.bg-lightblack {
  background-color: #676767!important;
}

.bg-fiction {
  background-color: rgb(156, 26, 26)!important;
}

.bg-nonfiction {
  background-color: #1753a1!important;
}

.bg-lifestyle {
  background-color: #8321A6!important;
}

/* borders */
.border-lightblack {
  border: 4px solid #676767;
}

.border-fiction {
  border: 4px solid rgb(156, 26, 26);
}

.border-nonfiction {
  border: 4px solid #1753a1;
}

.border-lifestyle {
  border: 4px solid #8321A6;
}

/* crispy form*/
.asteriskField {
  display: none!important;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 300;
}

.form-check .form-check-input {
  float: none!important;
}

/* contents */
.dates {
  font-size: 12px;
}

/* post */
.post-card {
  min-height: 300px!important;
}

.post-card-body {
  min-height: 200px!important;
}