{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="container mx-auto px-auto">
    <!--Header-->
    <header>
        <h1 class="text-center fw-bold mt-5">{{ view.get_theme.title }}</h1>
        <h2 class="text-center fw-bolder text-muted">{{ view.get_theme.author }}</h2>
    </header>
    <!--list of posts-->
    <section class="mx-auto my-3 p-5 border-lightblack bg-light rounded">
        <div class="row gx-0">
        {% for post in post_list %}
            <div class="card h-100 col-md-5 bg-light border-lightblack p-0 mx-auto my-3 hvr-grow-shadow post-card">
                <a href="{% url 'post_detail' post.theme.slug forloop.counter %}">
                    <div class="card-body text-dark post-card-body">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <hr>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </div>
                </a>
                {% if user.is_authenticated %}
                {% if request.user == post.theme.author %}
                <div class="card-footer">
                    <div class="col-12 mb-2">
                        <a href="{% url 'edit_post' post.theme.slug post.id %}" class="btn btn-outline-dark btn-block btn-sm w-100">Edit post</a>
                    </div>
                    <div class="col-12 mb-2">
                        <a href="{% url 'confirm_delete_post' post.theme.slug post.id %}" class="btn btn-outline-dark btn-block btn-sm w-100">Delete post</a>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
        {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row gx-0">
        {% endif %}
        {% empty %}
        <p class="text-center fs-2">Here is no any post yet.</p>
        {% endfor %}
        </div>
        <!--previous/next button provide by paginator-->
        <p class="current text-center mt-3">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </p>
        <nav class="pagination">
            <p class="step-links mx-auto">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-backward"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-left"></i></a>
                {% endif %}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-forward"></i></a>
                {% endif %}
            </p>
        </nav>
        <!--button to back overview page-->
        <div class="row p-4">
            <a href="{% url 'theme_overview' view.get_theme.slug %}" class="btn btn-outline-dark btn-block btn-lg">RETURN</a>
        </div>
    </section>
</div>
{% endblock %}