{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="container mx-auto px-auto">
    <!--Header-->
    <h1 class="text-center fw-bold">{{ view.get_theme.title }}</h1>
    <h2 class="text-center fw-bolder text-muted">{{ view.get_theme.author }}</h2>
    <!--list of posts-->
    <div class="mx-auto my-3 p-md-5 mx-auto border-lightblack bg-light rounded">
        <div class="row">
        {% for post in post_list%}
            <div class="card col-md-5 bg-light border-lightblack p-0 mx-auto my-3 hvr-grow-shadow">
                <a href="{% url 'post_detail' post.theme.slug post.id %}">
                    <div class="card-body text-dark">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <hr>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </div>
                    {% if user.is_authenticated %}
                    {% if request.user == post.theme.author %}
                    <div class="card-footer">
                        <div class="col-12 mb-2">
                            <a href="{% url 'edit_post' post.theme.slug post.id %}" class="btn btn-outline-dark btn-block btn-sm w-100">Edit post</a>
                        </div>
                        <div class="col-12 mb-2">
                            <form action="{% url 'delete_post' post.theme.slug post.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark btn-block btn-sm w-100">Delete post</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </a>
            </div>
        {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        </div>
        <!--previous/next button provide by paginator-->
        <p class="current text-center mt-3">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </p>
        <nav class="pagination">
            <p class="step-links mx-auto">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-backward"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-left"></i></a>
                {% endif %}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-caret-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-fast-forward"></i></a>
                {% endif %}
            </p>
        </nav>
        <!--button to back overview page-->
        <div class="row p-4">
            <a href="{% url 'theme_overview' view.get_theme.slug %}" class="btn btn-outline-dark btn-block btn-lg">Back to Overview</a>
        </div>
    </div>
</div>
{% endblock %}