{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="container-fluid">
    <!--Header-->
    <h1>{{ view.get_theme.title }}</h1>
    <h2>{{ view.get_theme.author }}</h2>
    <!--button to back overview page-->
    <div class="row">
        <a href="{% url 'theme_overview' view.get_theme.slug %}" class="btn btn-outline-dark btn-block btn-lg">Back to Overview</a>
    </div>
    <!--list of posts-->
    {% for post in post_list%}
    <div class="row">
        <a href="{% url 'post_detail' post.theme.slug post.id %}">
            {{ post.title }}
        </a>
        <div class="row">
            <p>{{ post.excerpt }}</p>
        </div>
        {% if user.is_authenticated %}
        {% if request.user == post.theme.author %}
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'edit_post' post.theme.slug post.id %}">Edit post</a>
            </div>
            <div class="col-md-4">
                <form action="{% url 'delete_post' post.theme.slug post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete post</button>
                </form>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    <!--previous/next button provide by paginator-->
    {% if is_paginated %}
    <nav class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </nav>
    {% endif %}
</div>
{% endblock %}