{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="container-fluid">
    {% for post in post_page %}
    <!--Post title-->
    <h1 class="text-center fw-bold mt-5">{{ post.title }}</h1>
    <h3 class="text-center fw-bolder">{{ theme.title }}</h2>
    <!--Dates-->
    <div class="row">
        <p class="text-center dates m-0">Publish on: {{ post.publish_on | date:"j M Y f A"  }}</p>
        <p class="text-center dates m-0">Last Update: {{ post.updated_on | date:"j M Y f A"  }}</p>
    </div>
    <!--post content-->
    <div class="my-2 p-3 bg-light border-lightblack rounded mx-auto mx-md-5">
        <div class="text-break m-5">{{ post.post_body | safe }}</div>
    </div>
    {% endfor %}
    <!--previous/next button provide by paginator-->
    <p class="current text-center mt-3">
        Page {{ post_page.number }} of {{ post_page.paginator.num_pages }}.
    </p>
    <nav class="pagination">
        <p class="step-links mx-auto">
            {% if post_page.has_previous %}
            <a href="{% url 'post_detail' theme.slug 1 %}" class="btn btn-outline-dark btn-block btn-md"><i class="fas fa-fast-backward"></i></a>
            <a href="{% url 'post_detail' theme.slug post_page.previous_page_number %}" class="btn btn-outline-dark btn-block btn-md"><i class="fas fa-caret-left"></i></a>
            {% endif %}
            <!--Back to content-->
            <a href="{% url 'contents' theme.slug %}" class="btn btn-outline-dark btn-block btn-md">RETURN</a>
            {% if post_page.has_next %}
            <a href="{% url 'post_detail' theme.slug post_page.next_page_number %}" class="btn btn-outline-dark btn-block btn-md"><i class="fas fa-caret-right"></i></a>
            <a href="{% url 'post_detail' theme.slug post_page.paginator.num_pages %}" class="btn btn-outline-dark btn-block btn-md"><i class="fas fa-fast-forward"></i></a>
            {% endif %}
        </p>
    </nav>
</div>
{% endblock %}