{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% load crispy_forms_tags %}
<header>
    <h1 class="text-center fw-bold mt-5">BECOME CREATOR</h1>
</header>
<section class="px-md-5 mx-md-5">
    {% if request.user.userprofile.membership == 0 %}
    <!--Request form-->
    <form action="{% url 'promote_request' %}" method="POST" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="p-3 bg-light border-lightblack rounded">
            <p class="text-center">Your username: {{ user.username }}</p>
            {% crispy request_form request_form.helper %}
            <input type="submit" value="SUBMIT" class="btn btn-outline-dark btn-block btn-lg w-100 mt-3">
        </div>
    </form>
    {% else %}
    <p class="text-center mt-3">Sorry, this form only provide to members.</p>
    {% endif %}
    <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-block btn-lg w-100">RETURN</a>
</section>
{% endblock %}